<!-- header partial -->
{{> header }}

    <!-- Fixed top navbar -->
    {{> topnavbar details_active=true }}

    <!-- Begin page content -->
    <div class="container">

{{> detailstabs apps_active=true }}

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Bundle Identifier</th>
      <th>Version</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
{{#each apps.details}}
    <tr>
      <td>{{@index}}</td>
      <td>{{CFBundleName}}</td>
      <td>{{CFBundleIdentifier}}</td>
      <td>{{CFBundleVersion}}</td>
      <td>{{ApplicationType}}</td>
    </tr>
{{/each}}
  </tbody>
</table>

<!-- footer partial -->
{{> footer }}

