<!-- header partial -->
{{> header }}

    <!-- Fixed top navbar -->
    {{> topnavbar details_active=true }}

    <!-- Begin page content -->
    <div class="container">

{{> detailstabs crashreports_active=true }}

<p>Crash reports downloaded: {{crashreports.summary.reports}}</p>
<p> Jump to report: 
{{#each crashreports.summary.filenames}}
  <a href="#{{this}}">{{@index}}</a> |
{{/each}}

<p>Crash report details</p>
  
{{#each crashreports.details}}

<table id="{{filename}}" class="table table-striped table-bordered">
  <thead>
    <tr><th>{{filename}}</th></tr>
  </thead>
  <tbody>
      <tr><td>
        {{#each preview}}
          {{this}}<br />
        {{/each}}
      </td></tr>
  </tbody>
</table>
<br \>
{{/each}}

<!-- footer partial -->
{{> footer }}

