<!-- header partial -->
{{> header }}

    <!-- Fixed top navbar -->
    {{> topnavbar diffs_active=true }}

    <!-- Begin page content -->
    <div class="container">

{{#if diff}}
    <h2>Diff between two extractions</h2>

    {{#each diff}}
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th colspan="2">
        Diff #{{@index}} for 
        {{#each this.path}}
          {{this}}.
        {{/each}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>LHS</td>
      <td>RHS</td>
    </tr>
    <tr>
      <td>{{this.lhs}}</td>
      <td>{{this.rhs}}</td>
    </tr>
  </tbody>
</table>
<br />
  {{/each}}

{{else}}
  <h2>Diffs not activatated</h2>
  <p>To enable this feature, run `ios-triage` with two processed extraction directories (<a href="https://github.com/ahoog42/ios-triage/blob/master/README.md">example</a>).
{{/if}}

<!-- footer partial -->
{{> footer }}
