<!-- header partial -->
{{> header }}

    <!-- Fixed top navbar -->
    {{> topnavbar details_active=true }}

    <!-- Begin page content -->
    <div class="container">

    {{> detailstabs overview_active=true }}

<!-- By default, index page will show Details page -->
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h3 class="card-header">Device</h3>
        <div class="card-block">
          <h4 class="card-title">Device Summary</h4>
            <ul>
              <li>Device Type: {{device.details.standard.DeviceClass}}</li>
              <li>Product Type: {{device.details.standard.ProductType}}</li>
              <li>iOS Version: {{device.details.standard.ProductVersion}}</li>
              <li>Baseband: {{device.details.standard.BasebandVersion}}</li>
              <li>Passcode Protected: {{device.details.standard.PasswordProtected}}</li>
              <li>Provisioning Profiles: {{pprofiles.summary.pprofilesFound}}</li>
          <a href="#" class="btn btn-primary">Device Details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h3 class="card-header">Apps</h3>
        <div class="card-block">
        <h4 class="card-title">App Summary</h4>
          <ul>
              <li>Total apps: {{apps.summary.totalApps}}</li>
              <li>System apps: {{apps.summary.systemApps}}</li>
              <li>User apps: {{apps.summary.userApps}}</li>
              <li>Non-Apple Signed apps: {{apps.summary.nonAppleSigner}}</li>
              <li>Have entitlements: {{apps.summary.appsWithEntitlements}}</li>
              <li>Use Persistent WiFi: {{apps.summary.usePersistentWifi}}</li>
              <li>Privacy-Sensitive Data Access: {{apps.summary.requestsForPrivacySensitiveDataAccess}}</li>
              <li>Allow All HTTP: {{apps.summary.allowArbitraryLoads}}</li>
              <li>Allow HTTP in Web Content: {{apps.summary.allowArbitraryLoadsInWebContent}}</li>
              <li>HTTP Domain exceptions: {{apps.summary.domainsAllowedArbitraryLoads}}</li>
          </ul>
          <a href="#" class="btn btn-primary">App Details</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h3 class="card-header">Backup</h3>
        <div class="card-block">
          <h4 class="card-title">Backup Summary</h4>
            {{#if backup.summary.files}}
              <ul>
                <li>Backup: {{backup.summary.files}} files</li>
              </ul>
            {{else}}
              <p>Backup artifacts not present</p>
            {{/if}}
          <a href="#" class="btn btn-primary">Backup Details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h3 class="card-header">Logs</h3>
        <div class="card-block">
        <h4 class="card-title">Log Summary</h4>
          <ul>
            {{#if syslog}}
              <li>Syslog: {{syslog.summary.lines}} lines</li>
            {{else}}
              <li>Syslog: not present</li>
            {{/if}}
            {{#if crashreports}}
              <li>Crash Reports: {{crashreports.summary.reports}} crashes</li>
            {{else}}
              <li>Crash Reports: None</li>
            {{/if}}
          </ul>
          <a href="#" class="btn btn-primary">Log Details</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h3 class="card-header">App UI Background Modes</h3>
        <div class="card-block">
          <h4 class="card-title">Backgound Mode, App count</h4>
            <ul>
            {{#each apps.summary.UIBackgroundModes}}
                <li>{{@key}}: {{this}}</li>
            {{/each}}
            </ul>
          <a href="apps.html" class="btn btn-primary">App Details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h3 class="card-header">Privacy Sensitive Data Access</h3>
        <div class="card-block">
        <h4 class="card-title">API, App count</h4>
          <ul>
            {{#each apps.summary.privacySensitiveDataAccess}}
                <li>{{@key}}: {{this}}</li>
            {{/each}}
          </ul>
          <a href="apps.html" class="btn btn-primary">App Details</a>
        </div>
      </div>
    </div>
  </div>

<!-- footer partial -->
{{> footer }}

